@{
    ViewData["Title"] = "Wing's Comic Shop";
}
<div class="jumbotron bg-dark">
    <h2 class="col-sm-12 text-warning">About Us</h2>
    <img src="~/images/hero.png" alt="hero outline" style="border-radius:20px;width:100%;float:right;" class="col-md-4" />
    <p class="lead col-sm-6 text-white">
        Wing's Comic Shop is your local hotspot for rare and vintage comic books.<br />
        <br />
        Have a rare comic book? Come in and get an appraisal today!<br />
        <br />
    </p>
</div>