@{
    ViewData["Title"] = "Wing's Comic Shop";
}
<div class="jumbotron bg-dark" style="border-radius:25px;padding:20px;">
    <h2 class="col-sm-12 text-warning">About Us</h2>
    <img src="~/images/hero.png" alt="hero outline" style="border-radius:20px;width:100%;float:right;" class="col-md-4" />
    <p class="lead col-sm-6 text-white">
        Wing's Comic Tracker lets you maintain an accurate record of your comic collection.<br />
        <br />
        Watch your collection grow!<br />
        <br />
    </p>
</div>