@{
    ViewData["Title"] = "Wing's Comic Shop";
}
<div class="jumbotron bg-dark">    
    <h2 class="col-sm-12 text-warning">Contact Us</h2>
    <address class="text-white">
        Some Road<br />
        Anytown, MI 12345<br />
        <abbr title="Phone">Phone:</abbr>
        231.123.4567
    </address>
    <a href="mailto:wingscomicshop.com" class="list-group-item list-group-item-action list-group-item-dark fas fa-envelope">Email: wingscomicshop.com</a>
</div>
