@{
    ViewData["Title"] = "Wing's Comic Shop";
}

<div class="jumbotron bg-dark text-warning">
    
        <img src="~/images/smallPow.png" alt="pow" style="float:right;width:50%;" />

    <p class="lead text-white">#1 Comic Collection Tracker</p>
</div>
