@{
    ViewData["Title"] = "Wing's Comic Shop";
}

<div class="jumbotron bg-dark text-warning" style="border-radius:25px;padding:20px;">
    
        <img src="~/images/smallPow.png" alt="pow" style="float:right;width:50%;" />

    <p class="lead text-white">#1 Comic Database</p>
</div>
