@{
    ViewData["Title"] = "Wing's Comic Shop";
    string[] dc = { "Action Comics #1", "All-Star Comics No.3", "Batman Issue #5", "Batman Issue #9", "Detective Comics #27", "All American Comics #16" };
    int dcLen = dc.Length;
    string[] marvel = { "Amazing Spider-Man #1", "Amazing Spider-Man #4", "Marvel Mystery Comics", "Fantastic Four #1", "The Incredible Hulk #1" };
    int marvelLen = marvel.Length;
    string[] indie = { "Walking Dead #1", "Spawn #1", "Spawn #299" };
    int indieLen = indie.Length;
    var x = 0;
}
<hr />
<div class="jumbotron bg-secondary text-white row">
    <h1 class="col-sm-8 text-white">&nbsp;See our collection!</h1>
    <img src="~/Images/spiderman.jpg" alt="spiderman" class="float-right rounded-circle mt-0 img-fluid col-sm-4"/>
</div>
<table class="table table-primary table-hover">
    <tr><th><h2 class="text-dark">&nbsp;DC Comics</h2></th></tr>
    @for (x = 0; x < dcLen; x++)
    {
        <tr><td>@dc[x]</td></tr>
    }
</table>
<hr />

<table class="table table-danger table-hover">
    <tr><th><h2 class="text-primary">&nbsp;Marvel Comics</h2></th></tr>
    @for (x = 0; x < marvelLen; x++)
    {
        <tr><td>@marvel[x]</td></tr>
    }
</table>
<hr/>

<table class="table table-success table-hover">
    <tr><th><h2 class="text-white">&nbsp;Indie Comics</h2></th></tr>
    @for (x = 0; x < indieLen; x++)
    {
        <tr><td>@indie[x]</td></tr>
    }
</table>
